/* Reset CSS */
body, 
h1, 
p, 
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
/* */

header {
    background: #f8f8f8;
    padding: 2em 0;
}

.container {
    margin: 0 auto;
    max-width: 900px;
    width: 90%;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 675px) {
    .container-nav {
        flex-direction: column;
    }

    .main-header-container {
        text-align: center;
    }
}

.main-header {
    font-family: Lora, sans-serif;
    font-weight: 400;
}

.main-header-text {
    color: #1792D2;
    font-family: Ubuntu, sans-serif;
    font-size: .75rem;
    font-weight: 700;
}

.navigation {
    padding: 1em;
}

.nav-list {
    display: flex;
    justify-content: center;
}

.nav-list-item {
    margin-left: 2em;
}

@media (max-width: 675px) {
    .navigation {
        padding: 0;
    }

    .nav-list {
        flex-direction: column;
        text-align: center;
    }

    .nav-list-item {
        margin: 0.5em;
    }
}

.nav-list-link {
    color: #707070;
    font-family: Ubuntu;
    padding: 0.05em 0;
    text-decoration: none;
}

.nav-list-link:hover,
.nav-list-link:focus {
    color: #1792d2;
}

.current-page {
    border-bottom: 1px solid #707070;
}

.current-page:hover {
    color: #707070;
}